.login-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.logo {
  display: flex;
  justify-content: center;
}
.menu-lsit {
  display: flex;
  list-style: none;
}
.menu-lsit li {
  padding: 10px;
}
.menu-area {
  display: flex;
  justify-content: center;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 140px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #d80000;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #c90a0a;
  border: 1px solid #c90a0a;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #d80000;
}
